<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink"></a>
    </div>
</div>


<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="http://gov.uk" title="" id="logo" class="content">
                    <img src="https://alphagov.github.io/govuk_template/assets/images/gov.uk_logotype_crown_invert_trans.png?0.16.0" width="35" height="31" alt="GOV.UK">GOV.UK
                </a>
            </div>

        </div>
    </div>
</header>
<!--end header-->




<div id="global-header-bar"></div>
<!--end global-header-bar-->